*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Inter", sans-serif;
}
.header1{
    background-color: #1433D6;
    width: 100%;
    height: 44px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.nav1-leftside{
    margin-top: 0.8em;
}
.header1-link{
    text-decoration: none;
    color: white;
}
.header1-link:hover{
    border-bottom: 1px solid white;
}
.nav1-rightside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: auto;
    padding: 10px;
}
.nav2-leftside{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.6em;
}
.header2{
    margin-top: 3em;
    display: fixed;
    border-bottom: thin solid rgba(128, 128, 128, 0.514);
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
    top: -8px;
}
.header2-logo{
    text-decoration: none;
    color: #0069FF;
}
.txt{
    font-size: 1.4em;
    font-weight: 700;
}
.nav2-middleside{
    display: flex;
    gap: 1.6em;
}
.header2-link{
    text-decoration: none;
    color: #070c2aa4;
    font-weight: 500;
}
.header2-link:hover{
    background-color:#EFF2FB ;
}
.fa-angle-down{
    font-size: 0.8em;
}
.fa-angle-down:hover{
    transform: rotate(180deg);
}
.nav2-rightside{
    display: flex;
    gap: 0.6em;
    justify-content: center;
    align-items: center;
}
.header2-link2{
    text-decoration: none;
    /* background-color: red; */
    padding: 10px 12px;
    border-radius: 20px;

}
.txt2{
    color: #070c2aa4;
    font-weight: 500;
}
.txt2:hover{
    background-color: #EFF2FB;
    transition: 0.6s;
}
.txt3{
    color: white;
    background-color: #0069FF;
}
.txt3:hover{
    background-color: #1433D6;
    transition: 0.6s;
}
.fa-bars{
    font-size: 1.6em;
    margin-left: 2em;
    display: none;
}

        /* Header media query */
@media (max-width:1014px){
    .nav1-rightside li{
        display: none;
    }
    .nav2-middleside li{
        display: none;
    }
    .fa-bars{
        display: block;
    }
}
@media (max-width:764px){
    .header1{
        display: none;
    }
    .header2{
        top: -50px;
    }
}
@media (max-width:770px){
    .header2-link2{
        display: none;
    }
}

            /* MAIN SECTION */
.main{
    display: flex;
    margin-top: 6em;
}
.main-leftside{
    /* background-color: red; */
    width: 50%;
    height: 600px;
    text-wrap: wrap;
    /* border: 2px solid black; */
}
.leftside-content{
    /* border: 2px solid black; */
    padding: 60px 80px;
}
.leftside-content h1{
    font-size: 3.6em;
    font-weight: 700;
    line-height: 1em;
}
.leftside-content p{
    font-size: 1.2em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.616);
}
.leftside-buttons{
    display: flex;
    flex-direction: column;
}
.leftside-btnss{
    text-decoration: none;
    margin-bottom: 1em;
    border: 1px solid black;
    width: 60%;
    height: 34px;
    text-align: center;
    border-radius: 20px;
    color: black;
}
.leftside-btnss:hover{
    background-color: #1433D6;
    color: white;
    transition: 1s;
    border: none;
}
.google-img{
    width: 30px;
    /* margin-right: 0.4em; */
}
.github-img{
    width: 20px;
}
.main-rightside{
    background-color: #0069FF;
    width: 50%;
    background-image: url('./images/hero-img1.png');
    background-size: cover;
    background-position: center;
}
.rightside-img{
    width: 600px;
    position: absolute;
    top: 240px;
    right: 100px;
}
        /* MAIN MEDIA QUERY */
@media (max-width:1440px){
    .rightside-img{
        width: 700px;
        right: 80px;
        top: 200px;
    }
    /* .leftside-content{
        padding: 60px 40px;
    } */
}        
@media (max-width:1345px){
    .rightside-img{
        width: 600px;
        right: 100px;
    }
    .leftside-content{
        padding: 60px 40px;
    }
}
@media (max-width:1282px){
    .rightside-img{
        width: 500px;
        right: 170px;
    }
    .leftside-content h1{
        font-size: 3em;
    }
    .leftside-content p{
        font-size: 1em;
    }
}
@media (max-width:1216px){
    .rightside-img{
        right: 130px;
    }
}
@media (max-width:1136px){
    .leftside-content{
        padding: 60px 30px;
    }
}
@media (max-width:1118px){
    .rightside-img{
        right: 90px;
    }
}
@media (max-width:1081px){
    .rightside-img{
        right: 70px;
    }
}
@media (max-width:1043px){
    .rightside-img{
        right: 60px;
    }
}
@media (max-width:1023px){
    .rightside-img{
        right: 40px;
    }
}
@media (max-width:976px){
    .rightside-img{
        right: 10px;
    }
    .leftside-content{
        padding: 60px 10px;
    }
}
@media (max-width:971px){
    .leftside-content h1{
        font-size: 2.6em;
    }
    .rightside-img{
        width: 400px;
        right: 100px;
    }
}
@media (max-width:897px){
    .rightside-img{
        right: 70px;
    }
}
@media (max-width:894px){
    .main{
        flex-direction: column;
    }
    .main-leftside{
        width: 100%;
        height: 500px;

    }
    .leftside-content{
        padding: 0px 0px;
    }
    .main-rightside{
        width: 100%;
        height: 500px;
        /* background-color: black; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .leftside-buttons{
        align-items: center;
    }
    .leftside-btnss{
        width: 100%;
        text-align: center;
    }
    .rightside-img{
        width: 800px;
        top: 750px;
        right: 36px;
        margin-top: 1.4em;
        position: static;
    }  
}
@media (max-width:796px){
    .rightside-img{
        width: 700px;
    }
}
@media (max-width:709px){
    .rightside-img{
        width: 600px;
    }
}
@media (max-width:600px){
    .rightside-img{
        width: 500px;
    }
}
@media (max-width:500px){
    .rightside-img{
        width: 400px;
    }
}
@media (max-width:400px){
    .rightside-img{
        width: 300px;
    }
}
        /* HERO SECTION */
.section1{
    width: 80%;
    margin: 100px auto;
}
.herosect1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
.herosect1 h1{
    font-size: 2em;
    font-weight: 800;
}
.prev{
    border: none;
    background-color: #0069FF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 880px;
    top: -80px;
    opacity: .9;
}
.prev:hover{
    background-color: #1433D6;
    transition: 1s;
}
.next{
    border: none;
    background-color: #0069FF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 40px;
    top: -80px;
    opacity: .9;
}
.next:hover{
    background-color: #1433D6;
    transition: 1s;
}
.arrow{
    color: White;
}
.caro-caro{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 2em;
}
.caro-side1{
    border: 2px solid rgba(128, 128, 128, 0.425);
    background-color: #F9FAFE;
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
.caro-inner1{
    padding: 30px 30px;
}
 .inner-inner1 p{
    background-color: #FFA14A;
    width: 54%;
    padding: 1px;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
 }
.inner-inner2 p{
    background-color: #E88AFF;
    width: 20%;
    padding: 1px;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
}
.inner-inner3 p{
    background-color: #0BE1FF;
    width: 30%;
    padding: 1px;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
}
.in-inner1{
    font-size: 1.4em;
    font-weight: 800;
    line-height: 1.4em;
    text-wrap: wrap;
}
.in-in1{
    margin-top: 5em;
   
}
.up1{
    margin-top: 7em;
}
.up2{
    margin-top: 1em;
}
.in-inl{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.in-inl:hover{
    border-bottom: 2px solid black;
    transition: 2s;
}
        /* Herosection Media Query */
@media (max-width:1218px){
    .up1{
        margin-top: 5em;
    }
}
@media (max-width:1173px){
    .in-in1{
        margin-top: 2em;
    }
}
@media (max-width:1024px){
    .caro-caro{
        flex-direction: column;
    }
    .caro-side1{
        width: 100%;
        height: 200px;
    }
    .inner-inner1 p{
        width: 25%;
     }
     .side2{
        display: none;
     }
     .herosect1{
        flex-direction: column;
        align-items: first baseline;
     }
}
@media (max-width:736px){
 
    .inner-inner1 p{
        width: 40%;
    }
    .in-inner1{
        font-size: 1.2em;
    }
}
@media (max-width:700px){
    .herosect1 h1{
        font-size: 1.6em;
    }
}
@media (max-width:502px){
    .inner-inner1 p{
        width: 60%;
        font-size: 1em;
    }
    .in-inner1{
        font-size: 1em;
    }
}
@media (max-width:346px){
    .in-in1{
        margin-top: 1em;
    }
    .inner-inner1 p{
        width: 70%;
    }
}

        /* Hero section2 */
.section2{
    background-color: #F9FAFE;
    min-height: 100vh;
    display: flex;
    align-items: center;
} 
.sect2{
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
.sect2-side1{
    width: 800px;
    height: 350px;
    border: 2px solid rgba(128, 128, 128, 0.616);
    padding: 50px 24px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right: none;
}
.sect2-side1 h1{
    font-size: 1.6em;
    font-weight: 600;
}
.sect2-side1 p{
    font-size: 1em;
    text-wrap: wrap;
    color: rgba(0, 0, 0, 0.616);;
}
.sect2-side1 span a{
    text-decoration: none;
    color: black;
}
.sect2-side1 span a:hover{
    border-bottom: 2px solid black;
}
.sect2-side2{
    background-image: url('./images/Sect2-digitialImg.png');
    background-size: 620px;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 350px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

    /* section2 media Query */
@media (max-width:950px){
    .sect2-side2{
        width: 500px;
    }
}
@media (max-width:841px){
    .sect2-side1{
        height: 400px;

    }
    .sect2-side2{
        height: 400px;
        background-size: 700px;
        /* width: 550px; */
    }
}
@media (max-width:730px){
    .sect2-side1{
        height: 500px;
    }
    .sect2-side2{
        height: 500px;
        background-size: 870px;
        width: 550px;
    }
}
@media (max-width:600px){
    .sect2{
        flex-direction: column-reverse;
        width: 100%;
    }
    .sect2-side1{
        width: 300px;
        border-bottom-left-radius: 20px;
        border-top-left-radius:0px;
        border-bottom-right-radius: 20px;
        border-right: 2px solid rgba(128, 128, 128, 0.616);
        height: 450px;
        padding: 30px 24px;
    }
    .sect2-side2{
        width: 300px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0px;
        height: 200px;
        border-top-left-radius: 20px;
        background-size: 470px;
    }
}
@media (max-width:460px){
    .sect-side1{
        height: 300px;
        width: 440px;
    }
    .sect-side1{
        font-size: 1.2rem;
    }
    .sect-side2{
        width: 440px;
        height: 100px;
    }
}

        /* Hero section3 */
.section3{
    background-color: #F9FAFE;
    display: flex;
    align-items: center;
}
.sect3{
    width: 100%;
    height: 300px;
    background-image: url('./images/sect3-digitalimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-wrap: wrap;
}
.sect3 h1{
    font-weight: 600;
    /* font-size: 1.4em; */
}
.sect3 p{
    text-wrap: wrap;
}
.sect3-sides{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}
.sect3-side1 p a{
    color: #0069FF;
}
.sect3-side1 p a:hover{
    background-color: #0069FF;
    transform: scaleY(2);
    color: white;
    text-decoration: none;
    transition: 1s;
}
        /* Section3 Media Query */
@media (max-width:600px){
    .sect3-sides{
        flex-direction: column;
        align-items: baseline;
    }
    .sect3{
        height: 500px;
    }
}

        /* Hero section4 */
.sect4{
    width: 90%;
    margin: 100px auto;
}        
.sect4-side1{
    text-align: center;
}
.sect4-side1 span a{
    text-decoration: none;
    color: black;
}
.sect4-side1 span a:hover{
    border-bottom: 2px solid black;
    transition: 1s;
}
.sect4-side2{
    margin-top: 4em;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4em;
    margin-bottom: 2em;
}
.box{
    width: 350px;
    height: 300px;
    background-color: #F9FAFE;
    border: 2px solid rgba(128, 128, 128, 0.397);
    border-radius: 20px;
}
.box-boxin{
    padding: 30px 10px;
}
.boxin1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.671);
    border-style: dashed;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 70px;
}
.boxin1 h1{
    font-size: 1.4em;
}
.inlogo{
    color: #0069FF;
}
.card{
    border: 2px solid rgba(128, 128, 128, 0.479);
    border-radius: 20px;
    background-color: #F9FAFE;
}
.card-link{
    text-decoration: none;
    color: black;
}
.card-link:hover{
    border-bottom: 2px solid black;
    transition: 1s;
}
.link-link{
    color: #0069FF;
}
.link-link:hover{
    background-color: #0069FF;
    color: white;
    transition: 1s;
}
/* .card-title h5{
    font-size: 1.6;
    font-weight: 700;
} */

        /* section4 Media Query */
@media (max-width:710px){
}

        /* Hero Section5 */
.section5{
    background-image: url('./images/Sect5-img.png');
    background-size: cover;
    background-position: center;
}
.sect5-side1{
    text-align: center;
    margin-bottom: 4em;
}
.sect5-side1{
    text-wrap: wrap;
}        
.sect5-side1 h1{
    font-size: 2em;
    font-weight: 700;
    text-wrap: wrap;
}
.sect5{
    width: 90%;
    margin: auto;
    padding-top: 4em;
    padding-bottom: 4em;
}

        /* Hero section6 */
.sect6{
    width: 80%;
    margin: auto;
    height: 100vh;
}
.sect6-side1{
    text-wrap: wrap;
    margin-top: 6em;
    text-align: center;
}  
.sect6-side1 h1{
    font-weight: 700;
} 
.sect6-side2{
    margin-top: 4em;
} 
.sect6-side2 nav{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    border-bottom: 1px solid black;
}  
.sect6-side2 nav li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
}
.sect6-side2 nav li a:hover{
    background-color: #1433D6;
    color: white;
}
.sect6-side2 nav li a:active{
    background-color: gray;
    color: black;
}
.sect6-link{
    background-color: rgba(128, 128, 128, 0.37);
}
.sect6-side3{
    display: flex;
    gap: 4em;
    align-items: center;
    margin-top: 4em;
}
.sect6-side1-inner{
    width: 900px;
    height: 280px;
    background-color: black;
    background-image: url('./images/sect6-img.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.sect6-side2-inner h1{
    font-size: 1.4em;
    font-weight: 600;
}
.sect6-side2-inner span a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.sect6-side2-inner span a:hover{
    border-bottom: 2px solid black;\
}