*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Epilogue", sans-serif;
}
.header1{
    background-color: #1433D6;
    width: 100%;
    height: 44px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.nav1-leftside{
    margin-top: 0.8em;
}
.header1-link{
    text-decoration: none;
    color: white;
}
.header1-link:hover{
    border-bottom: 1px solid white;
}
.nav1-rightside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: auto;
    padding: 10px;
}
.nav2-leftside{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.6em;
}
.header2{
    margin-top: 3em;
    display: fixed;
    border-bottom: thin solid rgba(128, 128, 128, 0.514);
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
    top: -8px;
}
.header2-logo{
    text-decoration: none;
    color: #0069FF;
}
.txt{
    font-size: 1.4em;
    font-weight: 700;
}
.nav2-middleside{
    display: flex;
    gap: 1.6em;
}
.header2-link{
    text-decoration: none;
    color: #070c2aa4;
    font-weight: 500;
}
.header2-link:hover{
    background-color:#EFF2FB ;
}
.fa-angle-down{
    font-size: 0.8em;
}
.fa-angle-down:hover{
    transform: rotate(180deg);
}
.nav2-rightside{
    display: flex;
    gap: 0.6em;
    justify-content: center;
    align-items: center;
}
.header2-link2{
    text-decoration: none;
    /* background-color: red; */
    padding: 10px 12px;
    border-radius: 20px;

}
.txt2{
    color: #070c2aa4;
    font-weight: 500;
}
.txt2:hover{
    background-color: #EFF2FB;
    transition: 0.6s;
}
.txt3{
    color: white;
    background-color: #0069FF;
}
.txt3:hover{
    background-color: #1433D6;
    transition: 0.6s;
}
.fa-bars{
    font-size: 1.6em;
    margin-left: 2em;
    display: none;
}
.header3{
    margin-top: 6.6em;
    top: 0px;
    background-color: white;
    width: 100%;
    border-bottom: thin solid rgba(128, 128, 128, 0.514);
    position: fixed;
    z-index: 999;
}
.nav3{
    width: 80%;
    margin: auto;
}
.nav-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 10px;
}
.nav3-btnss{
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    background-color: #E3E8F4;
    font-weight: 600;
}
.nav3-btnss:hover{
    background-color: #1433D6;
    color: white;
    transition: 1s;
}

        /* Header media query */
@media (max-width:1014px){
    .nav1-rightside li{
        display: none;
    }
    .nav2-middleside li{
        display: none;
    }
    .fa-bars{
        display: block;
    }
}
@media (max-width:764px){
    .header1{
        display: none;
    }
    .header2{
        top: -50px;
    }
    .header3{
        top: -53px;
    }
}
@media (max-width:770px){
    .header2-link2{
        display: none;
    }
}
@media (max-width:480px){
    .nav3-btnss{
        padding: 4px 12px;
        font-size: 1em;
    }
    .nav-inner{
        width: 100%;
    }
}

            /* Hero Section */
.hero-section{
    width: 100%;
    height: 50vh;
    margin-top: 10em;
    background-image: url('../images/leadership2-img.png'), linear-gradient(to bottom, #CADAFF, white);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.herosect h1{
    font-size: 3em;
    font-weight: 700;
    color: #000C2A;
}
        /* Hero Section Query */
@media (max-width:764px){
    .hero-section{
        margin-top: 7em;
    }
}
@media (max-width:576px){
    .herosect h1{
        font-size: 2em;
        text-align: center;
    }
}
            /* Hero Section2 */
.herosect2{
    width: 90%;
    margin: auto;
    padding: 20px;
}
.accordion-button h5{
    font-weight: 600;
}
.acord-img{
    width: 300px;
    border-radius: 10px;
}
.txxt-side{
    text-wrap: wrap;
    width: 100%;
}
.accordion-item{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-style: dashed;
}
        /* Hero section2 Query */
@media (max-width:956px){
    .txxt-side{
        width: 50%;
    }
}
@media (max-width:784px){
    .accordion-body{
        flex-direction: column;
        justify-content: center;
    }
    .txxt-side{
        width: 100%;
    }
    .acord-img{
        width: 100%;
    }
}
@media (max-width:562px){
    .accordion-button{
        flex-direction: column;
        align-items: baseline;
        gap: 0em;
    }
    .accourdion-button p{
        padding-top: 0em;
    }
}
            /* Hero section3 */
.hero-section3{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.herosect3{
    width: 80%;
    margin: auto;
    color: white;
    height: 170px;
    background-color: #1433D6;
    background-image: url('../images/leadership-img3.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 40px 30px;
    border-radius: 10px;
    text-wrap: wrap;
}
.herosect3 h4{
    width: 50%;
}
.herosect3 p a{
    text-decoration: none;
    color: white;
}
.herosect3 p a:hover{
    border-bottom: 2px solid white;
    transition: 1s;
}

        /* Hero Section3 Query */
@media (max-width:1024px){
    .herosect3{
        height: 350px;
        background-size: auto;
        background-position-y: bottom;
        padding-bottom: 100px;
    }
    .herosect3 h4{
        width: 100%;
    }
}
        /* Footer Section */
        .footer-section{
            background-color: #F9FAFE;
            height: 150vh;
            padding-bottom: 100px;
        }
        .footer-sect{
            display: flex;
            justify-content: space-around;
            width: 90%;
            padding-top: 100px;
            flex-wrap: wrap;
        }
        .footer-list{
            line-height: 2em;
        }
        .footer-list h4{
            font-size: 1em;
            font-weight: 700;
        }
        .footer-list li a{
            text-decoration: none;
            color: #344f80;
            font-weight: 400;
        }
        .footer-list li a:hover{
            color: black;
        }
        .accordion-side{
            display: none;
        }
        .footer-imgs{
            width: 90%;
            margin: 100px auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 100px;
        }
        .imgs-side1{
            display: flex;
            gap: 1em;
            align-items: center;
        }
        .imgs-side2{
            display: flex;
            gap: 1em;
            align-items: center;
            flex-wrap: wrap;
        }
        .footer-logo{
            color: #0069FF;
        }
        .sitemap{
            text-decoration: none;
            color: #344f80;
        }
        .sitemap:hover{
            color: black;
        }
        .img-svg{
            color: #4D5B7C;
        }
        .img-svg:hover{
            color: #000C2A;
        }
            /* Footer media Query */
        @media (max-width:770px){
            .footer-sect{
                display: none;
            }
            .accordion-side{
                display: block;
                width: 90%;
                margin: auto;
                padding-top: 50px;
            }
            .accordion-button{
                /* border-top: none;
                border-left: none;
                border-right: none; */
                background-color: #F9FAFE;
                font-weight: 700;
            }
            .accordion-item{
                border-top: none;
                border-left: none;
                border-right: none;
                background-color: #F9FAFE;
            }
        }
        @media (max-width:726px){
            .footer-imgs{
                flex-direction: column;
                width: 100%;
            }
            .imgs-side1{
                margin-bottom: 1em;
            }
        }